<!DOCTYPE html>
<html lang="en-US">
    {{>head}}

    <body>
        {{>header}}

        <main>
            <section>
                <article>
                    <header>
                        <div class="wrapper">
                            <h2>{{pageTitle}}</h2>
                        </div>
                    </header>

                    <div class="wrapper">
                        <div class="body-text">
                            {{#if:biography}}{{biography}}{{#else}}
                            <p>test</p>
                            {{#endif}}
                        </div>
                    </div>

                    <section class="alternate">
                        <div class="wrapper">
                            <h3>Posts by {{pageTitle}}</h3>

                            {{#if:postList}}
                            <ul>
                                {{#foreach:postList}}<li>
                                    <article>
                                        <header class="post-header">
                                            <h4><a href="{{#link:./?action=post&slug={{slug}}}}">{{title}}</a></h4>
                                            <p class="body-text">{{formattedDate}}</p>
                                        </header>

                                        <div class="post-contents body-text">{{contents}}</div>

                                        <footer>
                                            <p class="body-text"><a href="{{#link:./?action=post&slug={{slug}}}}">Read the full post</a></p>
                                        </footer>
                                    </article>
                                </li>{{#endforeach}}
                            </ul>
                            {{#else}}
                            <p>No posts to display!</p>
                            {{#endif}}
                        </div>
                    </section>

                    <footer>
                        <div class="wrapper">
                            <p class="body-text"><a href="./">Return to index</a></p>
                        </div>
                    </footer>
                </article>
            </section>
        </main>

        {{>footer}}
    </body>
</html>