<!DOCTYPE html>
<html lang="en-US">
    {{>head}}

    <body>
        {{>header}}

        <main>
            <section>
                <div class="wrapper">
                    <h2>{{pageTitle}}</h2>
                </div>
                <div class="wrapper">
                    {{pageContents}}
                </div>
            </section>
        </main>

        {{>footer}}
    </body>
</html>