<!DOCTYPE html>
<html lang="en-US">
    {{>head}}

    <body>
        {{>header}}

        <main>
            <section>
                <article>
                    <header>
                        <div class="wrapper">
                            <h2>{{pageTitle}}</h2>
                            <p>By <a href="{{#link:?action=author&name={{postAuthorSlug}}}}">{{postAuthor}}</a> on <time>{{pubDate}}</time></p>
                        </div>
                    </header>

                    <div class="wrapper">
                        {{postContents}}
                    </div>


                    <footer>
                        <div class="wrapper">
                            <p class="body-text"><a href="./">Return to index</a></p>
                        </div>
                    </footer>
                </article>
            </section>
        </main>

        {{>footer}}
    </body>
</html>